:root {
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_xx_small: 10;
  --card_x_small: 16;
  /*   --card_small: 26;
    --card_medium: 33;
    --card_large: 45; */
  --card_small: 24;
  --card_medium: 32;
  --card_large: 40;
  --card_x_large: 48;
  /* --card_xx_large: 64; */

  /*   2 medium = x-large
    medium + x-small = large */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.loader_section {
  opacity: 0;
}
.loader_section.active {
  height: 20vh;
  width: 100%;
  /* background-color: rgba(180, 171, 171, 0.63); */
  z-index: 10;
  position: fixed;
  opacity: 1;
  bottom: 0;
}
.loader_section .loader {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #8a8a8a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 8vh auto;
  animation: rotate 1.5s infinite linear;
  padding: 15px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader_section .loader div {
  height: 5px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: auto;
}
.buttons {
  /* background-color: red; */
  position: fixed;
  right: 1.3rem;
  bottom: 1rem;
  transition: transform 1s cubic-bezier(0.67, 0.14, 0.63, 1.47) 5s;
  transform: translateY(10rem);
}

.buttons a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  background: #ffffff;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  line-height: 3.5rem;
}

header {
  /* background-color: red; */
  margin: 0rem 1.8rem 0.3rem;
  padding: 12px 0;
  /* margin-bottom: rem; */
}
header .nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header .nav .homeBtn {
  margin: 0rem 0.5rem 1rem;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 15px;
}
header .nav .todayBtn {
  margin: 1rem 0.5rem;
}
header .nav input {
  width: 70%;
  margin: 0rem 1rem;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: #d9d9d9;
  padding: 15px 20px;
}
header .nav .icon i {
  color: #e60023;
  font-size: 1.5rem;
  cursor: pointer;
}
header .nav .icon .link {
  display: inline-block;
  /* background-color: #b4abab; */
}
header .nav .icon .link a {
  margin: 1rem 0.5rem;
}
header .nav .icon .link i {
  color: #5f5f5f;
  font-size: 1.5rem;
  cursor: pointer;
}
.pin_container {
  /* background-color: red; */
  /* padding: 5%; */
  padding-bottom: 10rem;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.card {
  padding: 0px;
  margin: 10px;
  border-radius: var(--card_border_radius);
  overflow: hidden;
  position: relative;

  background-color: #f9f9f9;
  z-index: 10;
}

.card .card:hover .img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.card:hover .card_overlay {
  opacity: 1;
  pointer-events: all;
  display: flex;
  z-index: 9999;
}
.card:hover .img-overlay {
  display: block;
  opacity: 1;
}
.card:hover .pop-up {
  display: none;
  opacity: 0;
}
.card a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  opacity: 0.8;
}
.card a:hover {
  opacity: 1;
}
.card .card .img-overlay,
.card .img-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.card .card .img-overlay {
  opacity: 1;
  display: block;
  cursor: pointer;
}
.card .card .img-overlay h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  transition: all 0.1s linear;
}
.card .pop-up {
  background: rgba(221, 221, 221, 0.85);
  position: absolute;
  margin: 10px 0 0 10px;
  border-radius: 16px;
  height: 20px;
  width: 35px;
  transition: opacity 0.1s linear;
  text-align: center;
}
.card .pop-up ._video p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}
.card .pop-up ._image i {
  font-size: 10px;
  margin: 0 5px;
}
.card .pop-up ._image span {
  font-size: 10px;
  padding-right: 5px;
  font-weight: bold;
}
.card .card img,
.card img,
.card video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 20;
  position: aboslute;
}
.card .img {
  height: 100%;
  width: 100%;
  z-index: 15;
  position: aboslute;
}
.card .card_overlay {
  height: 100%;
  width: 100%;
  background: tranparent;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  display: flex;
  pointer-events: none;
  z-index: 30;
  position: absolute;
  transition: opacity 0.1s linear;
}
.card .card_overlay .top-bar {
  text-align: right;
  padding: 15px;
}
.card .card_overlay .top-bar a {
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
}
.card .card_overlay .bottom-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card .card_overlay .bottom-bar .link {
  background: white;
  padding: 0 5px;
  max-width: 120px;
  border-radius: 16px;
  margin-left: 5%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .card_overlay .bottom-bar .link i {
  transform: rotate(45deg);
}
.card .card_overlay .bottom-bar .link span {
  margin-left: 5px;
}

.card .card_overlay .bottom-bar .part-2 {
  width: 40%;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
  text-align: center;
}
.card .card_overlay .bottom-bar .part-2 .share {
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card .card_overlay .bottom-bar .part-2 .option {
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

.card_xx-small {
  grid-row-end: span var(--card_xx_small);
}

.card_x-small {
  grid-row-end: span var(--card_x_small);
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}

.card_x-large {
  grid-row-end: span var(--card_x_large);
}

.card_special_5::before,
.card_special_4::before,
.card_special_3::before {
  content: "Idea you might love";
  text-align: center;
  font-weight: bolder;
  margin-top: 0.5rem;
}

.card_special_5,
.card_special_4,
.card_special_3 {
  /* background-color: red; */
  display: grid;
  grid-row-end: span 64;
  grid-template-columns: 1fr;
}
.card_special_4 {
  grid-row-end: span 48;
}
.card_special_3 {
  grid-row-end: span 40;
}
.skeleton {
  animation: loading 2s linear infinite alternate;
}

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

._skeleton {
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
}

._skeleton::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    to right,
    #d9d9d9 0%,
    rgba(0, 0, 0, 0.09) 20%,
    #d9d9d9 40%,
    #d9d9d9 100%
  );
  animation: loadingg 1s cubic-bezier(0.81, 0.48, 0.24, 0.51) infinite;
}

/* .card_small ._skeleton::before{
    animation-delay:.2s;
  }
  .card_x-small ._skeleton::before{
    animation-delay:.1s;
  }
  .card_medium ._skeleton::before{
    animation-delay:.4s;
  }
  .card_large ._skeleton::before{
    animation-delay:.6s;
  }
  .card_x-large ._skeleton::before{
    animation-delay:.8s;
  } */

@keyframes loadingg {
  100% {
    transform: translateX(100%);
  }
}
